URxvt*termName: rxvt-unicode-256color

URxvt*scrollBar_right: false
URxvt*scrollBar: false
URxvt*borderLess: false

URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*inputMethod: ibus

! fonts
Xft.dpi: 96
Xft.rgba: rgb
Xft.antialias: true
Xft.hinting: true
Xft.hinstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt*font: xft:Monaco:size=10:hinting=true:hintstyle=hintslight:antialias=true:lcdfilter=lcddefault,xft:WenQuanYi Micro Hei:size=11:hinting=true:hintstyle=hintslight:antialias=true:lcdfilter=lcddefault
URxvt*boldfont: xft:Monaco:size=10:hinting=true:hintstyle=hintslight:antialias=true:style=Bold:lcdfilter=lcddefault,xft:WenQuanYi Micro Hei:size=11:hinting=true:hintstyle=hintslight:antialias=true:style=Bold:lcdfilter=lcddefault

! colors
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

! ! tangoesque scheme
*background: #111111
*foreground: #babdb6
! ! Black (not tango) + DarkGrey
*color0:  #000000
*color8:  #555753
! ! DarkRed + Red
*color1:  #ff6565
*color9:  #ff8d8d
! ! DarkGreen + Green
*color2:  #93d44f
*color10: #c8e7a8
! ! DarkYellow + Yellow
*color3:  #eab93d
*color11: #ffc123
! ! DarkBlue + Blue
*color4:  #204a87
*color12: #3465a4
! ! DarkMagenta + Magenta
*color5:  #ce5c00
*color13: #f57900
! !DarkCyan + Cyan (both not tango)
*color6:  #89b6e2
*color14: #46a4ff
! ! LightGrey + White
*color7:  #cccccc
*color15: #ffffff
