Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: false

! use for thansparent
URxvt*depth: 32

#include ".xconf/term/theme_arch_wiki"

! font
!URxvt*font: xft:Monaco:size=10,xft:WenQuanYi Micro Hei:antialias=true:hinting=true:hintstyle=hintslight
URxvt*font: xft:Dina:pixelsize=14,xft:WenQuanYi Bitmap Song:pixelsize=14
URxvt*boldFont: xft:Dina:style=Regular:pixelsize=14,xft:WenQuanYi Bitmap Song:style=Regular:pixelsize=14

URxvt*scrollBar: false
URxvt*termName: rxvt-unicode-256color
URxvt*cursorBlink: true
URxvt*inputMethod: ibus

! perl extension
URxvt.perl-ext-common: default,clipboard
